<h1>{{ question.question_text }}</h1>

<!--action, method, enctype-->
<!--<form action="/{{question.id}}/vote/" method="post"--> 
<form action="{% url 'vote' question.id %}" method="post">   <!--get, post-->
    {% csrf_token %}
<!--input, select, textarea-->
    <ul>
        {% for choice in question.choice_set.all %}
            <li>
                <input type='radio' name="choice" value = "{{choice.id}}" id="{{choice.id}}">
                <label for="{{choice.id}}">{{ choice.choice_text }}</label>
            </li>
        {% endfor %}
    </ul>
    <input type='submit' value="전송" />
    <input type='button' value="초기화" />
</form>


<form id='frm' action='polls/{{question.id}}/reset/'>
    <input type='submit' value='초기화'>
</form>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $('[type=button]').onclick(() => {
        
    })
    // 표현식 CSS
    document.querySelector('[type=button]').addEventListener('click', function(){
        // 1. GET 방식으로 직접 주소 입력
        // location='/polls/{{quesiton.id}}/reset/';})
        const frm = document.querySelector('#frm')
        frm.submit()
</script>