<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action ="/polls/login_post/">
        {% csrf_token %}
        <!--value를 꼭 써야하는 경우는 radio, checkbox인 경우-->
        <input type='text' name='user_id' />
        <input type='password' name='user_pw' />
        <input type='submit' />
    </form>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js">
        // $('[type=submit]').click(function(){})
        $("[name=user_id]").blur( () => {
            //필수속성 ==> url, success
            $.ajax({
                type: 'POST'
                url: '/polls/login_post/',
                // 딕셔너리 형태로 넘기고자 하는 데이터를 가져온다.
                data: $('form').serialize(),
                // value 받을 수 있는 것은 form 태그에 등장하는 input, select, text_area 3개뿐이다.
                // data: {
                //    'user_id':$('[name=user_id]').val(),
                //    'user_pw':$('[name=user_pw]').val(),
                //    'csrftmiddlewaretoken': $('[name=user_pw]').val()
                //}
                success: function(res){
                    console.log(res)
                }
                return false;
            })
        })
    </script>
</body>
</html>
